/* Base Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

/* Header */
.header {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

.header h1 {
    margin: 0;
    font-size: 2rem;
}

/* Main Content */
.main-content {
    padding: 20px;
}

.main-content h2 {
    color: #007bff;
    font-size: 1.5rem;
    margin-top: 0;
}

/* Buttons */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #fff;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Table Rows */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* No Data Message */
.no-data {
    padding: 20px;
    text-align: center;
    color: #888;
}

/* General styles for the pagination container */
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination a, .pagination span {
    padding: 8px 16px;
    margin: 0 2px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #007bff;
    background-color: #fff;
}

.pagination a:hover {
    background-color: #f8f9fa;
}

.pagination .current-page {
    padding: 8px 16px;
    margin: 0 2px;
    border: 1px solid #007bff;
    border-radius: 4px;
    color: #fff;
    background-color: #007bff;
}

